body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin: 0px;
  padding-top: 220px;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
  margin-bottom: 110px;
}

.conteiner {
  display: flex;
  justify-content: center;
}

.product_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1110px;
  gap: 45px;
}

.product_card {
  padding: 25px;
  width: 340px;
  background-color: #F7F7FA;
  justify-self: center;
  box-shadow: 2px 2px 10px rgba(81, 86, 92, 0.1);
}

.image {
  margin-bottom: 30px;
}

.product_category {
  display: block;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #A5A3B9;
}

.main_text {
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 5px 0;
}

.description {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 15px 0;
}

.compound {
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 5px 0;
}

.ingredients {
  list-style-type: circle;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-left: 15px;
  margin: 0 0 25px 0;
}

.product_card_list li {
  margin-bottom: 5px;
}

.price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
}

.product_card-price b {
  font-family: "Montserrat Bold", Arial, sans-serif;
}